.menu {
  @media screen and (max-width: rem-calc(960px)) {
    margin-top: 25px;

    order: 2;
  }
  @media screen and (max-width: rem-calc(760px)) {
    margin-top: 30px;
  }
  &__mobile {
    position: relative;

    display: none;

    width: 30px;
    height: 30px;

    text-align: center;

    border-radius: 50%;
    background-color: #3c6b8d;
    .icon {
      color: $white;

      font-size: 17px;
      line-height: 34px;
    }
    @media screen and (max-width: rem-calc(960px)) {
      display: block;
    }
  }
  &__list {
    display: flex;

    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: rem-calc(960px)) {
      display: block;
    }
  }
  &__item {
    display: block;

    margin-right: 50px;

    color: $white;

    font-family: $RobotoSlab-Bold;
    font-size: rem-calc(19);
    @media screen and (max-width: rem-calc(1024)) {
      margin-right: 25px;
    }
    @media screen and (max-width: rem-calc(960px)) {
      margin-right: 0;
      margin-bottom: 18px;
    }
    span {
      border-bottom: 1px solid rgba($white, .2);

      @include transition;
    }
    &:hover {
      span {
        border-bottom: 1px solid rgba($white, .9);
      }
    }
  }
}
