mixin menu(data)
  .menu
    .menu__list
      a(href="#" title="").menu__item  
        span Каталог оборудования
      a(href="#" title="").menu__item 
        span Обзоры
      a(href="#" title="").menu__item 
        span Новости
      a(href="#" title="").menu__item 
        span Статьи
      a(href="#" title="").menu__item 
        span О нас
