mixin promo(data)
  .promo
    .promo__content._text-center
      .promo__title.title._promo._color-white 327 производителей <br> из 25 стран
      a(href="#" title="").button._bordered Подробнее
    .promo__bg
      img(src="%=static=%images/assets/promo/promo-bg.jpg" alt="")