@include font-face(HelveticaNeueCyr-Bold, "../fonts/HelveticaNeueCyr-Bold");
$HelveticaNeueCyr-Bold: 'HelveticaNeueCyr-Bold', Helvetica, Arial, sans-serif;

@include font-face(HelveticaNeueCyr-Medium, "../fonts/HelveticaNeueCyr-Medium");
$HelveticaNeueCyr-Medium: 'HelveticaNeueCyr-Medium', Helvetica, Arial, sans-serif;

@include font-face(HelveticaNeueCyr-Roman, "../fonts/HelveticaNeueCyr-Roman");
$HelveticaNeueCyr-Roman: 'HelveticaNeueCyr-Roman', Helvetica, Arial, sans-serif;

@include font-face(MyriadPro-Regular, "../fonts/MyriadPro-Regular");
$MyriadPro-Regular: 'MyriadPro-Regular', Helvetica, Arial, sans-serif;

@include font-face(RobotoSlab-Bold, "../fonts/RobotoSlab-Bold");
$RobotoSlab-Bold: 'RobotoSlab-Bold', Helvetica, Arial, sans-serif;

@include font-face(RobotoSlab-Regular, "../fonts/RobotoSlab-Regular");
$RobotoSlab-Regular: 'RobotoSlab-Regular', Helvetica, Arial, sans-serif;