mixin rating-manufacturers(data)
  .rating-manufacturers
    .rating-manufacturers__title 
      i.icon.icon-align-left
      | Рейтинг производителей

    ol.rating-manufacturers-list
      - for (var i = 0; i < 2; i++)
        li.rating-manufacturers-item
          .rating-manufacturers-item__content
            .rating-manufacturers-item__country Россия
            a(href="#" title="").rating-manufacturers-item__title Chamunda Pharma Tech
          .rating-manufacturers-item__image
            img(src="http://placehold.it/45x45/ffffff")

        li.rating-manufacturers-item
          .rating-manufacturers-item__content
            .rating-manufacturers-item__country Китай
            a(href="#" title="").rating-manufacturers-item__title Guangzhou Boson Machinery Manufacturing 
          .rating-manufacturers-item__image
            img(src="http://placehold.it/45x45/ffffff")

        li.rating-manufacturers-item
          .rating-manufacturers-item__content
            .rating-manufacturers-item__country Япония
            a(href="#" title="").rating-manufacturers-item__title Jornen Machinery Co., Ltd.
          .rating-manufacturers-item__image
            img(src="http://placehold.it/45x45/ffffff")

        li.rating-manufacturers-item
          .rating-manufacturers-item__content
            .rating-manufacturers-item__country Россия
            a(href="#" title="").rating-manufacturers-item__title Uhlmann Pac-Systeme GmbH & Co. KG
          .rating-manufacturers-item__image
            img(src="http://placehold.it/45x45/ffffff")

        li.rating-manufacturers-item
          .rating-manufacturers-item__content
            .rating-manufacturers-item__country Великобритания
            a(href="#" title="").rating-manufacturers-item__title Chamunda Pharma Tech
          .rating-manufacturers-item__image
            img(src="http://placehold.it/45x45/ffffff")