mixin select-industry(data)
  .select-industry.js-slideToggle
    .select-industry__mobile.js-slideToggle-trigger
      span Выберите отрасль
      i.icon.icon-arrow-down
    .select-industry__list.js-slideToggle-box
      a(href="#" title="").select-industry__item 
        span Фармакология
      a(href="#" title="").select-industry__item
        span Косметика
      a(href="#" title="").select-industry__item
        span Пищевая промышленность