mixin select-industry(data)
  .select-industry
    .select-industry__mobile
      span Выберите отрасль
      i.icon.icon-arrow-down
    .select-industry__list
      a(href="#" title="").select-industry__item 
        span Фармакология
      a(href="#" title="").select-industry__item
        span Косметика
      a(href="#" title="").select-industry__item
        span Пищевая промышленность