mixin news(data)
  .news.section._bg-gray
    .news__wrapper
      .news__title.title._h2._bordered
        span Новости

      .news__left
        +news-list
      .news__right
        +rating-manufacturers