.header {
  position: absolute;
  top: 90px;
  z-index: 99;
  width: 100%;
  &__wrapper {
    display: flex;

    align-items: center;
    @extend .wrapper;
    justify-content: space-between;
    @media screen and (max-width: rem-calc(1300)) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &__dropdown-mobile {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
}
