mixin login(data)
  .login
    a(href="#" title="").login__mobile
      i.icon.icon-user
    .login__list
      a(href="#" title="").button._small._red Регистрироваться
      span или
      a(href="#" title="").login__enter Войти 