.slider {
  // position: relative;
  z-index: 0;
}

.slider-item {
  position: relative;

  min-height: 790px;
  @media screen and (max-width: rem-calc(760px)) {
    min-height: 490px;
  }
  &:after {
    z-index: 99;
    right: -305px;

    content: "";

    @include bg($lines-left-white);
    @include vertical-center;
    @media screen and (max-width: rem-calc(960px)) {
      right: -460px;
    }
    @media screen and (max-width: rem-calc(760px)) {
      display: none;
    }
  }
  &._pharmacology {
    background: linear-gradient(to bottom, adjust-hue(saturate(darken($dark-blue, 4%), 2%), 2), adjust-hue(desaturate(lighten($dark-blue, 13%), 31%), -6));
    .slider-item-content {
      &:before {
        @include bg($pharmacology);
      }
    }
  }
  &._cosmetology {
    background: linear-gradient(to bottom, $dark-purple, adjust-hue(desaturate(lighten($dark-purple, 12%), 9%), -18));
    .slider-item-content {
      &:before {
        @include bg($cosmetology);
      }
    }
  }
  &._food-industry {
    background: linear-gradient(to bottom, $dark-green, adjust-hue(desaturate(lighten($dark-green, 24%), 41%), 1));
    .slider-item-content {
      &:before {
        @include bg($food-industry);
      }
    }
  }
}

.slider-item-content {
  text-align: center;
  &:before {
    position: relative;
    z-index: 99;
    top: 0;

    display: block;

    margin: 0 auto 44px;

    content: "";
    @media screen and (max-width: rem-calc(760px)) {
      margin-top: -105px;
      margin-bottom: -20px;

      transform: scale(.77);
    }
  }
  &__choose-theme {
    margin-bottom: 10px;

    letter-spacing: 295 / 1000 * 1em;
    text-transform: uppercase;

    opacity: .3;
    color: $white;

    font-family: $HelveticaNeueCyr-Roman;
    font-size: rem-calc(12);
    @media screen and (max-width: rem-calc(760px)) {
      font-size: rem-calc(10);
    }
  }
  &__title {
    margin-bottom: 23px;
  }
}

// swiper pagination
.swiper-pagination-bullets {
  bottom: 45px !important;

  display: flex;

  align-items: center;
  justify-content: center;
  @media screen and (max-width: rem-calc(760px)) {
    bottom: 27px !important;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 6px !important;

  background-color: rgba($white, .6);

  @include transition;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;

  border: 2px solid rgba($white, .7);
  background-color: transparent;
}
