mixin slider(data)
  .slider
    .swiper-container
      .swiper-wrapper
        .swiper-slide.slider-item._pharmacology
          .slider-item-content
            .slider-item-content__choose-theme Выберете тематику
            .slider-item-content__title.title._h1._color-white Фармакология
            a(href="#" title="").button._bordered
              i.icon.icon-check
              span Выбрать 
        .swiper-slide.slider-item._cosmetology
          .slider-item-content
            .slider-item-content__choose-theme Выберете тематику
            .slider-item-content__title.title._h1._color-white Косметология
            a(href="#" title="").button._bordered
              i.icon.icon-check
              span Выбрать 
        .swiper-slide.slider-item._food-industry
          .slider-item-content
            .slider-item-content__choose-theme Выберете тематику
            .slider-item-content__title.title._h1._color-white Пищевая промышленность
            a(href="#" title="").button._bordered
              i.icon.icon-check
              span Выбрать 
      .swiper-pagination