.search {
  position: relative;

  width: 222px;
  @media screen and (max-width: rem-calc(960px)) {
    width: 100%;
    order: 1;
  }
  &__field {
    width: 100%;
    height: 32px;

    color: rgba($white, .3);
    border: 0;
    border-bottom: 1px solid rgba($white, .3);
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &__submit {
    position: absolute;
    right: 2px;
    bottom: 5px;

    padding: 0;

    color: rgba($white, .3);
    border: 0;
    background-color: transparent;

    font-size: 18px;
  }
}
