.select-language {
  position: relative;

  width: 60px;
  height: 26px;

  border-radius: 20px;
  background-color: saturate(darken(#1a4460, 9%), 2%); // #102c3f

  line-height: 27px;
  &:hover {
    cursor: pointer;
    .select-language {
      &__list {
        bottom: 0;

        visibility: visible;

        opacity: 1;
      }
    }
    .icon {
      top: 7px;

      transform: rotate(180deg);
    }
  }
  .icon {
    position: absolute;
    top: 10px;
    right: 10px;

    color: adjust-hue(desaturate(lighten($dark-blue, 13%), 30%), -6); // #456877

    font-size: 8px;
    line-height: 1;

    @include transition(.4s);
  }
  &__list {
    position: relative;
    bottom: -10px;

    visibility: hidden;

    padding-top: 5px;
    padding-bottom: 5px;

    opacity: 0;
    background-color: saturate(darken(#1a4460, 9%), 2%); // #102c3f

    line-height: 20px;

    @include transition(.2s);
  }
  &__item {
    display: block;

    padding-top: 3px;
    padding-left: 10px;

    color: $white;

    font-family: $HelveticaNeueCyr-Medium;
    font-size: rem-calc(12);

    @include transition;
    &:hover {
      cursor: pointer;

      background-color: adjust-hue(desaturate(lighten($dark-blue, 13%), 30%), -6); // #456877
    }
    &._selected {
      padding-top: 0;

      background-color: transparent;
    }
  }
}
