mixin select-language(data)
  .select-language
    i.icon.icon-arrow-down
    .select-language__item._selected Rus
    .select-language__list
      a(href="#" title="").select-language__item Rus
      a(href="#" title="").select-language__item En